*{
    margin: 0;
    padding: 0;
}
/* font-family: "Arial", Helvetica, sans-serif; */
/* header part css start here */
header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    margin: 0 15px;
    padding: 30px 0;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #f39c12;
}
.navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: #f39c12;
    left: 0;
    bottom: -3px;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: #f39c12;
    right: 0;
    bottom: -3px;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before {
    width: 50%;
    
}
.navbar-light .navbar-nav .nav-link:hover::after {
    width: 50%;

}
.menu{
    background-color: rgb(0 0 0 / 40%);
}
.navbar{
    padding: 0;
}
.header-content{
    margin: auto;
}
.header-content span{
    text-align: right;
    font-family: 'Raleway', sans-serif;
    color: #f39c12;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
}
.header-content h1{
    text-align: right;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}
.hg{
    min-height: 90vh;
}
.btn-btn{
    margin-top: 100px;
    text-align: center;
}
.btn-startted, .btn-portfolio {
    color: #fff;
    border: 1px solid #fff;
    width: 150px;
    text-transform: uppercase;
    font-size: 14px;
    height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 0;
    padding: 7px 20px;
}
.btn-startted{
    margin-right: 5px;
}
.btn-portfolio{
  background-color: #f39c12;
  border-color: transparent;
  margin-left: 5px;
}
.btn-startted:hover{
    background-color: #f39c12;
    color: #fff;
    border-color: transparent;
}
.btn-portfolio:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

/* header part css end here */

/* about me part css start here */

.about-me{
    padding-top: 100px !important;

}
.heading h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #383838;
    text-align: center;

}
.about-part{
    padding: 0 70px;
}
.heading span{
    display: block;
    width: 70%;
    height: 2px;
    background-color:  #f39c12;
    margin: auto;
    position: relative;
}
.heading span::before{
    content: '';
    position: absolute;
    background-color:  #f39c12;
    width: 30px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: ani 6s linear infinite;
    animation-direction: alternate;
}
@keyframes ani{
    0%{
       left: 40%; 
    }
    25%{
       left: 70%;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 30%;
    }
   
}
.heading p{
    margin-top: 30px;
}
.bar{
    margin-top: 75px;
}
.bar h5{
    text-transform: capitalize;
}
.progress {
    background-color: #e9ecef;
    border-radius: .25rem;
    border-radius: 0;
    height: 10px;
    width: 80%; 
}
.progress-bar {
    background-color: #f39c12;
    transition: width .6s ease;
    height: 10px;
    border-radius: 0;   
}
.prgs{
    position: relative;
    margin: 20px 0;
}
.percent{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    color: #fff;
}
.badge-percent{
    background-color: #f39c12;
    padding: 10px;
    border-radius: 0;
}
.badge-percent::after{
    content: '';
    position: absolute;
    background-color: #f39c12;
    height: 15px;
    width: 15px;
    left: -7px;
    top: 27%;
    transform: rotate(45deg);
    z-index: -1;
}


/* about me part css end here */

    
/* my service part css start here */

.my-service{
    padding-top: 80px;
}
    
.service{
    border: 1px solid #0000001f;
    padding: 15px;
    transition: .3s all ease-in-out;
    position: relative;
}
.icon{
    color: #fff;    
    background-color: #919190;
            
    width: 70px;
            
    height: 70px;
            
    line-height: 70px;
            
    border-radius: 50%;
            
    font-size: 30px;
            
    margin: auto;
}
.service h3{
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #6e6e6e;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.service p{
        
    margin: 0;
            
    font-size: 14px;
    color: #6e6e6e;
    font-family: "Arial", sans-serif;
}
.service:hover{

    background-color: #f39c12;
    transition: .3s all ease-in-out;
    border-color: #fff;
   
}
.service:hover h3{
    color: #fff;
    transition: .3s all ease-in-out;
}
.service:hover p{
    color: #fff;
    transition: .3s all ease-in-out;
}
.service:hover .icon{
    background-color: #fff;
    color: #f39c12;
    transition: .3s all ease-in-out;
    
}
.service::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-right: 100px solid transparent;
    left: 0;
    top: 0; 
    transition: .3s all ease-in-out;
}
.service:hover::before {
    left: -1px;
    top: -1px;
}
.service::after{
    content: '';
    position: absolute;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    transition: .3s all ease-in-out;
}
.service:hover::after{
    border-left: 3px solid #f39c12;
    border-top: 3px solid #f39c12;
}     
    
/* my service part css end here */

/* my statictis part css start here */

.statistic{
    background-image: url(../images/my-statistic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}
.statistic .heading h1{
color: #fff;
}
.statistic_content{

color: #fff;
}
.statistic_content h1{
    
font-size: 25px;

}
.statistic_content h3{
    
font-size: 16px;
    
/* margin: 10px 0; */
}
.statistic_icon{
    
font-size: 25px;
    
color: #f39c12;
    
background-color: #fff;
    
width: 60px;
    
height: 60px;
    
line-height: 60px;
    
border-radius: 50%;

text-align: center;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.over-line{
position: relative;
}
.over-line::before{
content: '';
position: absolute;
height: 3px;
width: 70%;
background-color: #fff;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

/* my statictis part css end here */

/* My-work part start here


  
My-work part end here */

    